
<div class="area"></div>

<nav class="main-menu">

<ul>

<li>
<a href="#">
<i class="fa fa-home fa-2x"></i>
<span class="nav-text">
My dashboard
</span>
</a>
</li>

<li class="has-subnav">
<a href="#">
<i class="fa fa-envelope-o"></i></i>
<span class="nav-text">
Messages
</span>
</a>
</li>

<li>
<a href="#">
<i class="fa fa-cogs"></i>
<span class="nav-text">
Settings
</span>
</a>
</li>

<li>
<a href="#">
<i class="fa fa-car"></i>
<span class="nav-text">
My vehicle
</span>
</a>
</li>


</ul>

<ul class="logout">

<li>
<a href="#">
<i class="fa fa-power-off fa-2x"></i>
<span class="nav-text">
Logout
</span>
</a>
</li>

</ul>

</nav>

