.card {
  position: relative;
  height: 175px;
  margin: 5px 10px 5px 0px;
  &-bg{
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-shadow {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  &-description {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &-container {
    position: relative;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 15px;

    & a {
      color: white;
    }

    & a:hover {
      color: white;
    }
  }
  &-price {
    position: absolute;
    right: 0;
    bottom: 12px;
    padding: 12px;
    line-height: 10px;
    background-color: $brand-color;
    z-index: 2;
    border-radius: 2px;
    font-size: 23px;

    &-day {
      font-size: 10px;
    }
  }
  &-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 100px;
    h2 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    p {
      font-size: 13px;
    }
  }
  &-user {
    position: absolute;
    display: inline;
    right: 10px;
    top: 10px;
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background: black;
    opacity: 0;
    cursor: pointer;
    &:hover{
      opacity: 0.1;
      cursor: pointer;
    }
  }
}
