<div class="nested-fields">
  <div class="inline">

  <%= f.input :address, label: false %>
  <%= link_to_remove_association "X", f, class:"btn btn-danger" %>
    </div>
  <div class="spacer-small"></div>
</div>
